@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@200&family=Share+Tech+Mono&display=swap');
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;
}
:root{
    --roxa: #a683ff;
    --verde: #cae4ce;
    --azul:  #d2ecf2;
    --rosa:  #ffe3dd;
    --branco: #fff;
    --preto: #000;

    --btn-padding:.6rem 2rem;
    --border-radius: 2rem;
    --card-border-radius:1rem;
    --search-padding:.6rem 1rem;
    --card-padding:.1rem;
}
body{
    font-family: 'Neuton', serif;
    color: var(--preto);
    background: var(--branco);
}


